#codeigniter
application/.htaccess
application/cache/
application/core/
application/helpers/
application/hooks/
application/language/
application/libraries/index.html
application/logs/
application/third_party/index.html
application/views/errors/cli/
application/views/index.html
application/config/*
index.php
system/

!application/config/reporter.php
!application/config/routes.php
!application/views/reporter/template/index.php
application/libraries/Grocery_CRUD.php
application/libraries/image_moo.php
application/models/Grocery_crud_model.php
application/index.html

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
.idea/
vendor
assets/grocery_crud
assets/uploads
assets/libs
assets/index.html
composer.lock
user_guide/
.project
.buildpath
.settings
.editorconfig