@media (max-width: 480px) {
	#bussiness-logo .sidebar-brand-text{
    display: none !important;
	}
}

.reporter-login-jpg {
    background: url("../../img/login.jpg");
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
    background-position: center;
    background-size: cover;
}

.navbar {
	background: #4e73df;
	box-shadow: 0 0 9px rgba(0,0,0,0.4);
}

.navbar .nav-link, .navbar #bussiness-logo {
	color: white;
	text-decoration: none;
}

#bussiness-logo .sidebar-brand-text{
	font-size: 1.3rem;
	font-family: verdana;
}

#bussiness-logo img{
	width: 48px;
}

#bussiness-logo .sidebar-brand-text{
	font-size: 1rem;
	font-weight: 800;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .05rem;
}


.breadcrumb {
	font-size: 0.7em;
	margin-top: -2em;
	background: none;
	border-top: 1px solid #e3dddd;
	border-radius: 0px;
	padding-top: 4px;
	padding-left: 1px;
	width: 90%;
}

#datatable_length, #datatable_filter{
    display: none;
}


.loading{
    border-radius: 4px;
    left: 40%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,.2);
    display: none;
}

#datatable_processing, .loading {
    width: 300px !important;
    border-color: #FFF !important;
    background: gold none repeat scroll 0% 0% !important;
    position: fixed !important;
    z-index: 10000;
}


.table thead{
    background-color: #4e73df;
    color: white;
}

.table thead th {
    border-right: 1px solid #4e73df !important;
    border-left: 0px !important;
    border-top: 0px !important;
    border-bottom: 0px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

table .form-control {
    width: 100% !important;
}

.selected {
    background: #DEECFF !important; 
}

tr:hover {
    background-color: rgba(80, 157, 212, 0.1) !important;
}



/** Para on off */
.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid rgb(25, 167, 52); border-radius: 7px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #30ca41; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #6C6C6C;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 22px; margin: 6px;
    background: #FFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid rgb(25, 167, 52); border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}


#sql {
    position: relative;
    width: 100%;
    height: 300px;
}

.component_link {
	border-radius: 5px 0px 0 5px;
}

.dt-buttons.btn-group{
	height: 38px;
	margin: 0 5px;
	border-radius: 4px;
}

.dt-buttons.btn-group button{
	margin-right: 1px;
}

